#progressDiv {
    height: 320px;
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#progressText {
    position: absolute;
    padding-right: 280px;
    padding-bottom: 280px;
}

#progBar {
    transform-origin: center;
    transform: rotate(270deg);
    transition: stroke-dashoffset 0.2s;
}
#progBarUnder {
    transform-origin: center;
    transform: rotate(270deg);
}

body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
}

#numberInput {
    border-radius: 20px;
    width: 42px;
    height: 22px;
    text-align: center;
}

#inputsDiv {
    height: 320px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inputs {
    display: flex;
    align-items: left;
    flex-flow: column wrap;
}

.numInput {
    padding-bottom: 10px;
    padding-right: 22px;
}

.togInput {
    padding-bottom: 15px;
}

.label {
    padding-left: 5px;
}

label {
    position: relative;
}

#animateToggle, #hideToggle {
    display: none;
}

label input +span::before {
    position: absolute;
    content: "";
    right: 75px;
    top: 0px;
    width: 45px;
    height: 25px;
    border-radius: 20px;
    background-color: #DAE6EC;
    transition: all 0.2s ease-in-out;
}

label input +span::after {
    position: absolute;
    content: "";
    right: 77px;
    top: 1.5px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #fff;
    transform: translateX(-20px);
    transition: all 0.2s ease-in-out;
}


label input:checked +span::before {
    background-color: #005CFF;
}

label input:checked +span::after {
    transform: translateX(1px);
}

.togInput label {
    left: 50px;
    top: 3px;
}